$second-family: "Barlow", sans-serif;
$third-family: "Fraunces", sans-serif;
$cyan-color: #0E8784;
$grey-blue-color: #333D4B;
$pale-orange-color: #FDD6BA;
$light-cream-color:#FEFCF7;
$grey-color: #83888F;