.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 113px;
    }

    &__list {
        display: flex;
        column-gap: 33px;
        list-style: none;
    }

    &__link {
        font-weight: 700;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-decoration: none;
        color: #83888f;
    }
    &__link:active{
        color: #333d4b;
    }
}